@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif;
}

.react-calendar__tile--now {
    background-color: #60a5fa !important;
    color: white;
    border-radius: 4px;
}

.react-calendar__tile--active {
    background-color: #facc15 !important;
    border-radius: 4px;
}

.react-calendar__navigation__label__labelText {
    font-weight: 600;
}
